{% extends "base.html" %}

{% block body %}

    <div class="row home-body">
       {% for product in products %}

        <div class="col s12 m7"  style="max-width: 400px;">
            <div class="card">
              <div class="card-image"  >
                <img src="/static/images/{{product.image}}" width="200px"    alt="">
                <span class="card-title">{{product.name}}</span>
              </div>
              <div class="card-content">
                <p>{{product.description}}</p>
              </div>
              <div class="card-action">
                <a href="#">{{product.price}}</a>
                <button class="btn waves-effect waves-light" type="submit" name="action">add to cart
                    <i class="material-icons right">shopping_cart</i>
                  </button>
              </div>
            </div>
          </div>

          {% endfor %}


      </div>
     


{% endblock %}